<div class="col-lg-6">
    <div class="card shadow">
        <div class=card-body>
            <p class="lead"><%=@workshop_count%> Total Workshop</p>
            <p class="lead"><%=@upcoming_workshop_count%> Upcoming Workshop</p>
            <p class="lead"><%=@past_workshop_count%> Past Workshop</p>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="card shadow">
        <div class=card-body>
            <p class="lead"><%=@booking_count%> Total Booking</p>
            <p class="lead"><%=@revenue_earned%> Total Revenue</p>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="card shadow">
        <div class=card-body>
            <p class="lead"><%=@customer_count%> Total Customer</p>
        </div>
    </div>
</div>